<h1>
Showing job posts
</h1>
<p>
<strong>Title:</strong>
<%= @job_post.title %>
</p>
<p>
<strong>Mode:</strong>
<%= @job_post.mode %>
</p>
<p>
<strong>Company:</strong>
<%= @company.name %>
</p>
<p>
<strong>Title:</strong>
<%= @job_post.title %>
</p>
